$white-light: #F1F1F2
$black-light: #3F5B5F
$red: #E5266C
$red-light: #DE8584

// 初始化

*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

html, body
  padding: 0
  margin: 0

html,body 
  height: 100%

body 
  margin: 0
  background: $white-light


h1, h2, h3, h4, h5, h6
  margin: 0

h2
  font-weight: 500

ul
  margin: 0
  padding: 0

li
  list-style: none

img
  vertical-align: top


a
  display: inline-block
  color: $black-light

table
  width: 100%
  border-collapse: collapse 

td
  width: 50%


.row
  padding: 20px 0 40px 0

.col-3
  width: 25%
  float: left

.col-5
  width: 41.66667%
  float: left

.col-7
  width: 58.33333%
  float: left



//  客製化
.outer 
    display: table
    width: 100%
    height: 100%

.footer 
  height: 1px
  display: table-row

.header + div
  padding-top: 80px

.container
  position: relative
  display: block
  width: 960px
  margin: 0 auto
  // border: 1px solid black

.clearfix:after
  content: ''
  display: block
  clear: both

.warn
  color: $red
  font-weight: bold

.btn
  display: inline-block
  text-decoration: none
  padding: 10px
  text-align: center
  border-radius: 2px
  background-color: $black-light
  color: white
  transition: all .3s
  
  

.btn-red
  background-color: $red-light
  color: white
  margin-top: 10px
  transition: all .3s
  &:hover
    transform: scale(1.2)
    background-color: $black-light
    
.btn-black
  background-color: $black-light
  color: white
  padding: 5px  

.devise-btn
  margin: 20px 0

.notice
  position: relative
  top: -20px


.align
  text-align: center


.title
  text-align: center
  letter-spacing: 5px
  padding: 0 0 10px 0

// _header.html.erb

.header
  background: #ed6ea0 /* Old Browsers */
  background: -webkit-linear-gradient(left,#ed6ea0,#ec8c69) /*Safari 5.1-6*/
  background: -o-linear-gradient(left,#ed6ea0,#ec8c69) /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,#ed6ea0,#ec8c69) /*Fx 3.6-15*/
  background: linear-gradient(to right, #ed6ea0, #ec8c69) /*Standard*/
  ul
    float: right
    li
      float: left
      a
        text-decoration: none
        padding: 25px 50px  
        font-size: 20px
        color: white
        transition: all .3s
        &:hover
          background-color: $black-light
          color: white

// _footer.html.erb
.footer
  background-color: $black-light
  text-align: center
  .container
    padding: 20px 0
    a
      text-decoration: none
    p, a
      color:  white
// _form.html.erb

.cats-edit
  background-color: white
  box-shadow: 8px 10px 15px 0px rgba(0,0,0,0.12), 8px 10px 15px -8px rgba(0,0,0,0.24)

  .col-5
    img
      width: 100%
      margin-top: 20px
      margin-left: 20px

  .col-7
    padding: 20px 100px
    .title
      margin-bottom: 10px
    tr
      border-bottom: 1px solid #E0DEE2
      td
        padding: 5px 0
    
    textarea
      width: 100%
      height: 60px
    .send
      text-align: center
    
.favorite
  margin-top: 50px
  text-align: center
  padding-bottom: 80px
  a
    text-decoration: none
    display: inline-block
    margin-left: 10px
    margin-right: 10px



// index.html.erb 



// .cover
//   background-image: url("/photo/mimi.jpg")
//   background-size: contain
//   background-position: 60% 30%
//   background-repeat: no-repeat
//   height: 500px

.unique
  margin-bottom: 20px
.search
  select
    width: 10%
    min-width: 60px
    height: 25px
  input
    padding: 4px 15px
  input[type="submit"]
    border: none
    cursor: pointer
    background-color: $red-light
    color: white

.cats-list
  background-color: white
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  transition: all .3s
  margin-bottom: 2% 
  &:hover
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  .modify
    text-align: center
    height: 35px
    margin-top: 5px
    
  .photo
    text-align: center
    cursor: pointer
    width: 200px
    height: 200px
    margin: 15px auto
    margin-top: initial
    overflow: hidden
    img
      width: 100%
      height: auto
      transition: all .3s
      &:hover
        transform: scale(1.2)
        
  .info
    padding: 0px 20px 20px 20px
    td
      padding: 3px 0

.btn-red:hover
  transform: none

  
.cats-list.col-3
  width: 23.5%

.cats-list.col-3:nth-child(4n+2)
  margin-left: 2%
  margin-right: 1%

.cats-list.col-3:nth-child(4n+3)
  margin-left: 1%
  margin-right: 2%

  

.active
  background-color: $red
  color: white
  padding: 2px 10px
  border-radius: 2px



// show.html.erb
.cats-show
  background-color: white
  box-shadow: 8px 10px 15px 0px rgba(0,0,0,0.12), 8px 10px 15px -8px rgba(0,0,0,0.24)
  .row
    padding: 0
  .col-5
    img
      width: 100%
      margin: 15px
  .col-7
    padding: 20px 120px
    .title
      margin-bottom: 10px
    .media
      display: inline-block
      background-color: #3D5698
      text-decoration: none
      color: white
      padding: 2px 5px
      border-radius: 2px
    tr
      border-bottom: 1px solid #E0DEE2
      td
        padding: 5px 0

  .description
    border-bottom: 1px solid #E0DEE2
    padding: 5px 0

.favorite
  margin-top: 50px
  text-align: center
  a
    text-decoration: none
    display: inline-block
    margin-left: 10px
    margin-right: 10px

// favorite_list.html.erb

.favorite-list
  padding-bottom: 80px
  
  .container
    background-color: white
    padding: 50px 0
    .title
      margin-bottom: 50px

    
  table
    text-align: center
    tr
      border-bottom: 1px solid #E0DEE2
      td
        width: 14.286%
        padding-top: 20px

  img
    vertical-align: middle

//user edit
.user-edit
  padding-bottom: 20px
  .container
    padding-bottom: 50px
    .center
      width: 600px
      text-align: left
      margin: 0 auto
      background-color: white
      .title
        margin-bottom: 10px
        background-color: $red-light
        color: white
        padding: 20px
      .position
        width: 50%
        margin: 0 auto
        // position: relative
        // top: 50%
        // left: 50%
        // transform: translateX(-25%)
        

        .field
          padding: 10px 0
        input
          width: 100%
          padding: 5px
        input[type=submit]
          border: none
          background-color: $red-light
          color: white
          margin-top: 10px
          border-radius: 2px
          transition: all 0.3s
          padding: 10px
          font-size: 16px
          cursor: pointer
          &:hover
            background-color: $black-light

      
        .btn-red
          width: 100%
          margin-bottom: 30px


// user-new

.user-new .hold, .user-signup .hold
    margin-bottom: 20px
    height: 40px


// page
  
.pagination
  margin-bottom: 50px
  // padding-bottom: 80px
  .current
    background-color: $red-light
    color: white
  a
    text-decoration: none
  .previous_page, .next_page, .current, a
    // border: 1px solid black
    padding: 2px 10px


    




      



    






